@import url("reset.css");

* { box-sizing: border-box; }

body {
  position: relative;
  font: normal 16px arial, sans-serif;
  padding: 20px 0;
  height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

.clearfix::before,
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.left { float: left; }
.right { float: right; }


/* NAV */

header {
  margin: 0 20px;
  line-height: 32px;
}

nav { font-size: 13px; }

nav li {
  display: inline-block;
  opacity: .75;
}

nav li + li { margin-left: 20px; }

.menu a,
.notifications a,
.profile-pic a {
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
}

.menu a,
.notifications a {
  opacity: .75;
}

.menu a:hover,
.notifications a:hover {
  opacity: 1;
}

.profile-pic { opacity: 1; }

.profile-pic a {
  background: url("./images/image.jpg");
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

.menu a {
  background: url("./images/sprite.png") -132px -38px;
  height: 30px;
  width: 30px;
}

.notifications a {
  background: url("./images/sprite.png") -194px -21px;
  background-color: black;
  border-radius: 100%;
  height: 20px;
  width: 20px;
}


/* MAIN */

main {
  margin-top: 150px;
  text-align: center;
  padding: 0 20px;
}

.input {
  max-width: 600px;
  margin: 30px auto;
  padding: 10px;
  box-shadow: 0 2px 10px 1px #e4e4e4;
}

input {
  font-size: 16px;
  vertical-align: middle;
  width: 90%;
  height: 30px;
  padding: 15px 0;
  border: none;
}

input:focus {
  outline: none;
}

.voice {
  vertical-align: middle;
  width: 30px;
  float: right;
  cursor: pointer;
}

.buttons {
  margin-bottom: 30px;
}

.buttons button {
  background: #f2f2f2;
  color: #757575;
  font-weight: bold;
  padding: 15px;
  margin: 0 5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.buttons button:hover {
  color: black;
  border: 1px solid #e4e4e4;
  box-shadow: 0 2px 10px 1px #e4e4e4;
}

.language { font-size: 13px; }
.language a { color: blue; }


/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
  opacity: .75;
}

.location,
footer nav {
  padding: 20px;
  border-top: 1px solid #e4e4e4;
}



/* MEDIA QUERIES */

@media (max-width: 450px) {
  header .left,
  header .right {
    float: none;
  }

  main { margin-top: 60px; }
}
